@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.main-part {
    position: relative;
    top: 6rem;
}

.dynamic-section {
    display: none;
}

.search-logs-part{
    margin-top: 0.5rem;
}

.Logs-details-form{
    margin-top: 0.5rem;
}

/*.staff-logs-table-view{
    position: relative;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
}

.field-logs-table-view{
    position: relative;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
}

.crop-logs-table-view{
    position: relative;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
}*/

.staff-logs-table-view,
.field-logs-table-view,
.crop-logs-table-view {
    width: 80%; /* Set a fixed width or use percentage for responsiveness */
    margin: 1rem auto; /* Center the table and add vertical spacing */
    padding: 0;
}

#crop-logs-table,
#field-logs-table,
#staff-logs-table {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the table itself */
}

/* Optional: Add padding for visual appeal */
#crop-logs-table th, .table td {
    padding: 1rem;
    text-align: center;
}

#Logs-Header-back-colour{
    background: #133a75;
    color: #eeeeee;
    font-size: 18px;
    font-weight: 600;
}

.card-body form div label{
    font-weight: bold;
}