.main-part {
    position: relative;
    top: 6rem;
}

.dynamic-section {
    display: none;
}

.search-logs-part {
    margin-top: 0.5rem;
}

.Logs-details-form {
    margin-top: 0.5rem;
}

.staff-logs-table-view,
.field-logs-table-view {
    width: 80%; /* Set a fixed width or use percentage for responsiveness */
    margin: 1rem auto; /* Center the table and add vertical spacing */
    padding: 0;
}

table {
    width: 100%; /* Make table fill the container */
    margin: 0 auto;
}

@media (max-width: 768px) {
    /* Adjust table width on smaller screens */
    .staff-logs-table-view,
    .field-logs-table-view {
        width: 100%; /* Use full width on mobile devices */
    }
}
